<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password forgot</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="fail">

 
    <h1>YOU HAVE ENTERED WRONG MOBILE NUMBER</h1>
    <h1>Redirecting back to form page in few seconds...</h1>
    <script type="text/javascript">
        
    function timer(){
        window.location.href=("http://localhost:3000/");

    }
    setTimeout(timer,5000);
    
    </script>
    
    
    </div>
</body>
</html>