<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Data</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="login-box">

<img src="nair.jpg" class="avatar"> 
    <h1>Please fill data in the form below:</h1>
    <form method="POST" action="/post-feedback">
        <label>Name:<input type="text" name='clientname' placeholder="Enter Name" required></label>
        <br>
        <label>Password:<input type="password" name='clientpass' placeholder="Enter Password" required></label>
        <br>

        <label>Email:<input type="text" name='email' placeholder="Enter your mail ID" required></label>
        <br>
        
        <input type="submit" value="Submit">

    </form>
    <a href="/login">click to login</a>
    </div>
</body>
</html>